
<h1>Vice Dashboard</h1>
<a class='btn btn-success' href='/vices/new'>Add a vice</button></a>
<ul class="list-group">
  <% @vices.each do |vice| %>
    <li class="list-group-item">
      <span><%= vice.name %></span>
      <span><%= vice.category %></span>
      <button class="btn btn-small btn-danger">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <%= button_to "delete", vice_path(:id => vice.id), :method => :delete, :class =>"glyphicon glyphicon-remove" %>

      </button>
    </li>
  <% end %>
</ul>
