// Place all the styles related to the vice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-left: 20px;
  background-color: lightblue !important;
  color: darkblue !important;
  font-family: 'Ubuntu', sans-serif;


}
